{#
/**
 * @file skor_akademik.html.twig
 * Default theme implementation to present Skor akademik data.
 *
 * This template is used when viewing Skor akademik pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_skor_akademik()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('skor_akademik') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
